[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
requests-html = "*"
biopython = "*"
tqdm = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
codecov = "*"

[requires]
python_version = "3.7"

[scripts]
wiz = "python -m wiz"
test = "pytest --cov=./"
